[package]
description = "Captures native crashes as minidumps and sends to Sentry"
edition = "2021"
license = "MIT OR Apache-2.0"
name = "sentry-rust-minidump"
readme = "README.md"
repository = "https://github.com/timfish/sentry-rust-minidump"
version = "0.4.0"

[dependencies]
minidumper-child = "0.1"
sentry = "0.29"
thiserror = "1"

[dev-dependencies]
actix-rt = "2.7"
sadness-generator = "0.4"
sentry-test-server = {git = "https://github.com/timfish/sentry-test-server.git", rev = "f94260a"}
